* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C8E8FF;
    font-family: 'Itim', 'cursive';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

body {
    font-family: 'Itim', 'cursive';
    font-size: 25px;
    padding-top: 130px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Navigation bar items */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding img {
    margin-left: 2rem;
    height: 120px;
}

.material-symbols {
    justify-items: right;
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}


.material-symbols:hover {
    color: grey;
    transition: 0.7s ease;
    fill-opacity: 1;
}

.nav-link { 
    transition: 0.7s ease;
}

.nav-link:hover {
    color: grey;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/*This section defines properties for nav buttons*/
.nav-buttons {
    color: black;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.15rem;
    text-align: center;
    transition-duration: 0.5s;
    font-family: 'Itim', 'cursive';
}

.button1 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button1:hover {
    background-color: lightgray;
}

.button2 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button2:hover {
    background-color: lightgray;
}

.button3 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button3:hover {
    background-color: lightgray;
}

.button4 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button4:hover {
    background-color: lightgray;
}


/*This section defines properties for product cards*/
.product-panes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    grid-auto-rows: minmax(100px, auto);
    margin: .5rem 12rem .5rem 12rem;
}

.card {
    background-color: lightgray;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: "img img"
                            "h3 p" 
                        "a button";                    
}

.card img {
    height: minmax(100px, auto);
    grid-area: img;
    object-fit: cover;
    border-radius: 1rem;
    justify-self: center;
}

.card button {
    justify-self: end;
    background-color: #C8E8FF;
    color: black;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    grid-area: button;
    cursor: pointer;
    transition-duration: 0.5s;
    font-size: 1rem;
    font-family: 'Itim', 'cursive';
}

.card button:hover {
    background-color: lightgray;
}

.card h3 {
    grid-area: h3;
}

.card p {
    grid-area: p;
    justify-self: end;
    margin-right: 3.5rem;
    margin-top: .25rem;
}

.card a {
    grid-area: a;
    justify-self: right;
}

/* Style for page headers */
.page-headers {
    margin: 2rem;
    font-size: 64px;
}

/*Defines style for page footer*/
footer {
    background-color: #C8E8FF;
    font-family: 'Itim', 'cursive';
  }
  
  .footer-container {
    margin: 1rem;
    display: grid;
    grid-template-areas: "footer-links footer-logo social-links"
  }
  
  .quick-link-container {
    justify-self: left;
    margin: 2rem;
    padding-left: .5rem;
    padding-top: .5rem;
  }
  
  .footer-headers {
    color: grey;
  }
  
  .footer-links{
    list-style-type: none;
  }
  
  .quick-link {
    font-size: 15px;
  }
  
  .quick-link:hover {
    color: grey;
    transition: 0.3s ease;
  }
  
  .footer-logo{
    justify-self: center;
    margin-top: 5rem;
  }
  
  .social-links {
    justify-self: right;
    margin: 2rem;
  }

  .link-icons {
    cursor: pointer;
    justify-self: center;
  }

/* Style for "Get a Quote" page */
.form-background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ebebeb;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    grid-column-end: auto;
}

.form {
    grid-column: 1;
    grid-row: 2;
}

.quote-form {
    margin-left: 2rem;
}

input[type=text] {
    margin: 1rem;
    height: 1.5rem;
    box-shadow:0 0 15px 4px lightgray;
    border-radius: .5rem;
    border: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=tel] {
    margin: 1rem;
    height: 1.5rem;
    box-shadow:0 0 15px 4px lightgray;
    border-radius: .5rem;
    border: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=email] {
    margin: 1rem;
    height: 1.5rem;
    box-shadow:0 0 15px 4px lightgray;
    border-radius: .5rem;
    border: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 15rem;
}

input[type=radio] {
    margin-left: 3rem;
}

.photo-insert {
    grid-column: 1;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.note {
    grid-column: 1;
    margin-left: 2rem;
}

.hand-image {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.nail-sizes {
    margin-left: 3rem;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

textarea {
    margin-top: 1rem;
    border-radius: .5rem;
    box-shadow:0 0 15px 4px lightgray;
    border: 0;
    grid-column: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
}

.submit {
    color: black;
    background-color: #C8E8FF;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-align: center;
    transition-duration: 0.5s;
    font-family: 'Itim', 'cursive';
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.submit:hover {
    background-color: lightgray;
}

/* Style for Contact Page */
.page-background {
    background-color: #ebebeb;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}

.contact-item {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.contact-link:hover {
    background-color: lightgray;
}

/*Style for About Me Page */
.profile-pic {
    float: left;
    margin: 2rem;
    shape-outside: circle(50%);
}

.bio-title {
    margin-bottom: 1rem;
}

.my-bio {
    margin-right: 2rem;
}


/* Adjusted settings for mobile devices */
@media(max-width:768px){
    .hamburger {
        display: block;
        float: left;
        margin-right: 2.25rem;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #C8E8FF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: 3.5rem;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
       left: 0; 
    }

    .nav-buttons {
        viewport-fit: 1; 
    }

/*Adjusted settings for page footer*/
    .link-icons{
        height: 30px;
    }

/*Adjusted settings for home page*/
    .product-panes {
        grid-template-columns: 1fr;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card {
        background: lightgray;
    }

    /*Adjusted settings for mobile (Quote Page)*/
    .form-background {
        align-content: center;
        margin-left: 2.5rem;
    }

    .form {
        text-align: center;
        padding: 1rem;

    }

    .radio-button {
        display: block;

    }

    .hand-image {
        grid-column: 1;
        
    }

    .nail-sizes {
        grid-column: 1;
        margin-bottom: 2rem;
    }

    .photo-insert {
        text-align: center;
    }

    .note {
        text-align: center;
    }
    
    .submit {
        justify-self: center;
        margin-left: 2rem;
    }

    /*Adjusted settings for mobile (About Me Page)*/
    .profile-pic {
        float: left;
        margin: 2rem;
        shape-outside: circle(35%);
        width: 150px;
        }
    }
