* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C8E8FF;
    font-family: 'Itim', 'cursive';
}

body {
    font-family: 'Itim', 'cursive';
    font-size: 25px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Navigation bar items */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding img {
    margin-left: 2rem;
    height: 150px;
}

.material-symbols {
    justify-items: right;
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}


.material-symbols:hover {
    color: grey;
    transition: 0.7s ease;
    fill-opacity: 1;
}

.nav-link { 
    transition: 0.7s ease;
}

.nav-link:hover {
    color: grey;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/*This section defines properties for nav buttons*/
.nav-buttons {
    color: black;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    grid-area: button;
    margin: 1rem;
    font-size: 1.25rem;
    text-align: center;
    transition-duration: 0.5s;
    font-family: 'Itim', 'cursive';
}

.button1 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button1:hover {
    background-color: lightgray;
}

.button2 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button2:hover {
    background-color: lightgray;
}

.button3 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button3:hover {
    background-color: lightgray;
}

.button4 {
    background-color: #C8E8FF;
    cursor: pointer;
}

.button4:hover {
    background-color: lightgray;
}


/*This section defines properties for product cards*/
.product-panes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    grid-auto-rows: minmax(100px, auto);
    margin: .5rem;
}

.card {
    background-color: lightgray;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: "img img"
                        "p button";                    
}

.card img {
    background-color: lightskyblue;
    height: minmax(100px, auto);
    grid-area: img;
    object-fit: cover;
    border-radius: 1rem;
    justify-self: center;
}

.card button {
    justify-self: end;
    background-color: #C8E8FF;
    color: black;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 1rem;
    grid-area: button;
    cursor: pointer;
    transition-duration: 0.5s;
    font-size: 1rem;
    font-family: 'Itim', 'cursive';
}

.card button:hover {
    background-color: lightslategray;
}

.card p {
    grid-area: p;
    padding: 1rem;
    font-size: 2rem;
}

/* Style for page headers */
.page-headers{
    margin: 2rem;
    font-size: 64px;
}

/* Style for "Get a Quote" page */
.quote-form{
    margin-left: 2rem;
}

/* Adjusted settings for mobile devices */
@media(max-width:768px){
    .hamburger{
        display: block;
    } 

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #C8E8FF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
       left: 0; 
    }

    .nav-buttons{
        viewport-fit: 1;
    }

    .product-panes{
        grid-template-columns: 1fr;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card {
        background: lightgray;
    }
}