*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #C8E8FF;
    font-family: "Itim-Regular";
}

body {
    font-family: "Itim-Regular";
    font-size: 25px;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

/* Navigation bar items */

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: grey;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px
    margin 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.product-panes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 1rem;
}

.card {
    background-color: blue;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: "img img"
                        "p button";
}

.card img {
    background-color: yellow;
    height: minmax(100px, auto);
    grid-area: img;
    object-fit: cover;
}

.card button {
    justify-self: end;
    background-color: #C8E8FF;
    color: black;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 1rem;
    grid-area: button;
}

.card p {
    grid-area: p;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #C8E8FF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
       left: 0; 
    }

    .product-panes{
        grid-template-columns: 1fr;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .product-image-one{
        border: 3px solid grey;
        border-radius: 10px;
        background-color: lightgrey;

    }

    .product-item-one .text{
        padding: 10px;
    }

    .product-item-two{
        border: 3px solid grey;
        border-radius: 10px;
        background-color: lightgrey;

    }

    .card {
        background: red;
    }
}